
/* Backgrounds and section text colors */ 
  .bg-1 { 
      background-color: white; 
      color: teal;
  }
  .bg-2 { 
      background-color: whitesmoke;
      color: navy;
  }
  .bg-3 { 
      background-color: lightblue;
      color: blue;
  }

/* Container format */
  .container-fluid2 {
      padding-top: 70px;
      padding-bottom: 70px;
  }

/* Icon formatting */
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: navy;
  }
  .icon-small {
      color: black;
      font-size: 50px;
  }
  .icon-link {
      color: lightskyblue;
  }
  .icon-home {
      color: white;
      font-size: 20px;
  }

/* Logo formatting */
  .logo {
    color: turquoise;
    font-size: 200px;
  }

/* Link formatting and coloring */
  a {
    color: lightblue;
  }
  a:hover {
    color: blue;
  }
  p, a span {
    color: lightgrey;
  }

  /* Style the top navigation bar*/
  /*.navbar {
    overflow: hidden;
    background-color: transparent;
  } */

  /* Style the navigation bar links */
  /* .navbar a {
    float: right;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  } */

  /* left-aligned link */
  /* .navbar a.left {
    float: left;
  } */

  /* Change color on hover */
  /* .navbar a:hover {
    background-color: #000;
    opacity: 0.5;
    color: white;
  } 
  */ 
  /* #overlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none; /* Hidden by default */
    /*width: 100%; /* Full width (cover the whole page) */
    /*height: 100%; /* Full height (cover the whole page) */
    /*top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    /*z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; /* Add a pointer on hover */
    /* overflow-y: scroll; */
  /*} */
  /* #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  #noscroll {
    overflow: hidden;
  }

  #AboutPanel, #About {
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: solid 1px purple;
}

  #AboutPanel {
    padding: 30px;
    display: none;
  } */
