/* Color Theme Info */
/* #3D8ABE main color */
/* #0579BC secondary */
/* #038BA4 ternary */
/* #A0C0D8 light/faded blue highlights */
/* #F3F2F1 whites */


/* Backgrounds and section text colors */ 
  .bg-1 { 
      background-color: #F3F2F1; 
      color: black;
  }
  .bg-2 { 
      background-color: #A0C0D8;
      color: black;
  }
  .bg-3 { 
      background-color: #3D8ABE;
      color: black;
  }

/* Navbar Text Colors */
  .navbar-text-links {
      color: #3D8ABE;
  }

/* Section Headers */
  .header-text {
      color: #3D8ABE;
  }  

/* Container format */
  .container-fluid2 {
      padding-top: 70px;
      padding-bottom: 70px;
  }

/* Icon formatting */
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #0579BC;
  }
  .icon-small {
      color: #038BA4;
      font-size: 50px;
  }
  .icon-link {
      color: #038BA4;
  }
  .icon-home {
      color: #0579BC;
      font-size: 20px;
  }

/* Logo formatting */
  .logo {
    color: #3D8ABE;
    font-size: 200px;
  }

/* Link formatting and coloring */
  a {
    color: #038BA4;
  }
  a:hover {
    color: #3D8ABE;
  }
  p, a span {
    color: lightgrey;
  }

/* Collapsible panel styling */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

  /* Style the top navigation bar*/
  /*.navbar {
    overflow: hidden;
    background-color: transparent;
  } */

  /* Style the navigation bar links */
 /* .navbar a {
    float: right;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }  */

  /* left-aligned link */
  /* .navbar a.left {
    float: left;
  } */

  /* Change color on hover */
  /* .navbar a:hover {
    background-color: #000;
    opacity: 0.5;
    color: white;
  } 
  */ 
  /* #overlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none; /* Hidden by default */
    /*width: 100%; /* Full width (cover the whole page) */
    /*height: 100%; /* Full height (cover the whole page) */
    /*top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    /*z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; /* Add a pointer on hover */
    /* overflow-y: scroll; */
  /*} */
  /* #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  #noscroll {
    overflow: hidden;
  }

  #AboutPanel, #About {
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: solid 1px purple;
}

  #AboutPanel {
    padding: 30px;
    display: none;
  } */
